
body {
    margin: 0;
    padding: 40px 40px 40px 40px;
    box-sizing: border-box;
}

.company-details {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header Section */
.header-section {
width: 1064px;
height: 191px;
top: 142px;
left: 157px;
border:1px solid black;
border-radius: 8px 8px 0px 0px;
margin:auto;


}



.header-section strong {
    font-weight: bold;
}

/* .profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px;
    max-width: 1200px;
    margin: 20px auto; */


/* .profile-info {
    display: flex;
    align-items: center;
}  */

.profile-logo {
    border:1px solid black;
    width: 108px;
    height: 108px;
    top: 301px;
    left: 167px;
   
    border-radius: 4px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    

    
}

.profile-text {
    width: 249pxpx;
height: 68pxpx;
top: 341px;
left: 287px;
gap: 8px;


}


.send-request-btn {
    background-color:blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Main Content */
.main-content {
    display: flex;
    
    max-width: 1062px;
    margin: 40px auto;
}

.left-section {
width: 710px;
height: 930px;
gap: 16px;
opacity: 0px;

}

.right-section {
width: 322px;
height: 755px;
gap: 16px;
opacity: 0px;

}

/* Cards */
.biodata-card{
width: 710px;
height: 270px;
padding: 10px 0px 0px 0px;
gap: 24px;
border-radius: 8px 0px 0px 0px;
border:1px solid black;

}

.ecosystem-card{
    width: 710px;
    height: 102px;
    padding: 10px 0px 0px 0px;
    gap: 12px;
    border-radius: 8px 0px 0px 0px;
    border:1px solid black;
    
    
} 
.partnership-card{
width: 710px;
height: 160px;
padding: 10px 0px 0px 0px;
gap: 12px;
border-radius: 8px 0px 0px 0px;
border:1px solid black;


}



.whitepaper-card{
 width: 710px;
height: 64px;
padding: 10px 0px 0px 0px;
gap: 3px;
border-radius: 8px 0px 0px 0px;
border:1px solid black;


}

.statement-card{
    width: 710px;
height: 270px;
padding: 10px 0px 0px 0px;
gap: 24px;
border-radius: 8px 0px 0px 0px;
border:1px solid black;


}




.categories-card{
width:322px;
height: 306px;
padding: 24px 16px 24px 16px;
gap: 9px;
border-radius: 8px 0px 0px 0px;
border: 1.5px 0px 0px 0px ;
border:1.5px solid black;

} 
.request-type-card{
 width: 322px;
height: 189px;
padding: 24px 16px 24px 16px;
gap: 9px;
border-radius: 8px 0px 0px 0px;
border: 1.5px 0px 0px 0px;
border:1.5px solid black;


}
.social-media-card {
    width: 308px;
    height: 81px;
    gap: 9px;
    border:1px solid black;
    
}   




.stat-item {
width: 312px;
height: 62px;
padding: 10px 16px 10px 16px;
gap: 9px;
border-radius: 8px 0px 0px 0px;
border:1px solid black;
padding :10px 12.5px 10px 12.5px;

}

.stat-item p {
    margin-bottom: 10px;
    color: #666;
}

.stat-item span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
