 
 
  .mainnavbar {
    width:100vw;
    padding-left: 16px;
    padding-left: 16px;
   box-sizing: border-box;
    display: flex;
   
    align-items: center;
    
    background-color:rgba(234, 239, 255, 1);
   justify-content: space-between;
   gap:210px;
  }
 
  .logo {
    width:142px;
    display: flex;
    align-items: center;
  }

.raisa-logo-img{
  width: 122px;
  height:49px;
}


.mainnav-frame2{
  width:100%;
 display:flex;

 justify-content: space-between;
padding-top: 5px;
padding-bottom: 5px;

}

.mainnav-links{

  display: flex;
  justify-content: flex-start;
}
 
  .logo-letter {
    font-size: 24px;
    font-weight: 900;
    color: #1A1AFF;
    margin-right: 4px;
  }
 
  .logo-name {
    font-size: 18px;
    font-weight: 500;
    color: #1A1AFF;
  }
 
  .nav-links {
    list-style: none;
    display: flex;
   margin:0;
   padding:0;
   gap:52px;

  }
 
  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
    transition: color 0.3s;
  }
 
  .nav-links a:hover {
    color: #1A1AFF;
  }

 .nav-links-li{
  display: flex;
  width: 86px;
  height: 56px;
  align-items: center;
  text-align: center;
  justify-content: center;
 }
 
  
 .mainnav-buttons{
  display: flex;
  justify-content: flex-end;
  gap:10px;
 }
 .login , .signup{
  display: flex;
  width: 125px;
  height: 59px;
  align-content: center;
  align-self: center;
  justify-content: center;
  align-items: center;
 }

.login-lnk , .signup-lnk{
  width:105px;
  height:39px;
  background-color: transparent;
  border: 1px solid #003CFF;
  border-radius: 6px;

}
.login-lnk {
  
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19.36px;
color:  #1A0DAB;
&:hover{
  background-color: #0028AA;
  color: white;
}

}

.signup-lnk {
  
  
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
 background-color: #0028AA;

  color:  white;
  &:hover {
    color:#0028AA;
    background-color:transparent;

  }
  
  }



@media screen and  (max-width: 768px){

  .mainnav-links{
    display:none;
  }

  .signup,.signup-lnk{
    display: none;
  }

  .mainnavbar , .mainnav-frame2{
    background-color: #ffffff;
  }
  .mainnavbar{
    gap:0px;
  }
 
  .mainnav-frame2{

    justify-content:flex-end;

}
  
}