.request-page-main-container {
    width: 100%;
    height: 100%;
    /* position: relative; */ /* Uncomment if you need this */
    /* margin: 0 auto; */ /* Uncomment if you need this */
  }
 
  @media (max-width: 480px) {
    .request-page-main-container {
      overflow: hidden;
      width: 100%;
      height: auto; /* Changed height to auto for better responsiveness */
      margin: auto; /* Centered margin */
    }
  }
 
 
.requestpage-container{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.sidebar-req-cntainer{
  width: 100%;
    display: flex;
   
    justify-content: center;
    gap: 10px;


}

.input-req{
  width: 90%;
  border-radius: 5px ;
  
height: 48px;
gap: 0px;
;

    
    border: 1px solid #ddd;
    box-sizing:border-box;
    padding: 10px;
}
.requesttable{
   
    width: 80.07%;
    height: auto;
    border-radius: 8px;
   
    background-color: #ffffff;
    .search-bar-req{
 
        width:90%;
        height: auto;
        padding: 10px;
        gap: 10px;
        
        }
 
        .filter-icon{
          
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            
        }
        @media (max-width: 500px) {
          .filter-icon {
            
            margin-top:-10px;

           
           
           
          }
        }
         
        


}
.search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
/* height: 88px; */
/* padding: 10px 0px 0px 0px;
gap: 136px;
opacity: 0px; */
 
}

.requestfilter-icon{
  position: relative;
}
.requestmodal-content{
  min-width: 200px;
    box-sizing: border-box;
  right:10px;
  z-index: 1000;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.filterdiv{
  padding: 10px;
}
@media (max-width: 500px) {
  .search-filter {
    
    width: 100%;
    flex-direction: column;
   
   
   
  }

  .requesttable{
    overflow: scroll;
  }
}

.checkbox-label {
  display: flex;
  align-items: center; /* Center align the checkbox and text */
  margin-bottom: 10px; /* Space between each checkbox */
}

.input-request-checkbox{
  margin-top:5px;
  margin-right: 10px; /* Space between checkbox and text */
}

 


