.Requestcontainer {
  width: 100%;
    //margin: 20px;
  
   

  }

  @media (min-width: 768px) {
    .Requestcontainer {
      
      width: 100%;
     
    }
  }
   
  @media (width: 912px) {
    .Requestcontainer {
      
      width: 100%;
   
    }
  }
   
  @media (width: 540px) {
    .Requestcontainer {
      //height: 40px;
      width: 100%;
    
    }
    
  }
  

  .table-container{
    width: 100%;
    background-color: #ffffff;
    position :relative;
  }
  
  .segmented-control {
    width: 50%;
    display: flex;
    border-radius: 5px;
    
    background-color: #f1f3fb;
    width: fit-content;
    margin: 20px;
    

  }
  .segment-icon path {
    fill: #1a0dab; /* Default SVG fill color */
  }
  
  .segment:hover .segment-icon path {
    fill: #fff; /* Color on hover */
  }
  
  .segment.active .segment-icon path {
    fill: #fff; /* Color when active */
  }
  
  /* Segment button styling */
  .segment {
    width: 50%;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #f1f3fb;
    color: #1a0dab; /* Text color */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    border-radius: 8px;
   
    
  }



  
  .segment.active {
    background-color: #1a0dab;
    color: white;
  }
  
  .segment:hover {
    background-color: #1a0dab;
    color: white;
  }
  
  
 
  
  .request-table {
    width: 100%;
    border-collapse: collapse;
    position:relative;
  }
  
  .request-table th,
  .request-table td {
   
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    border-bottom: 1px solid #F5F5F5;
    padding: 10px;
    text-align: left;
    position:relative;
  }
  
  .request-table th {
    /* background-color: #f1f3fb; */
  }
  
  .action-btn {
    background-color: #2f80ed;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right:10px;
    width: 100%;
    position:relative;
  }
  
  .action-btn:hover {
    background-color: #1e5fbf;
  }
  th{
    
  
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    align-content: center;
    background: #EAEFFF;

  }

  @media screen and (max-width:600px) {
    .segmented-control{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .segment{
      width: 100%;
    }
    
  }