.Requestcontainer {
    margin: 20px;
  
   

  }

  .table-container{
    background-color: #ffffff;
  }
  
  .segmented-control {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f1f3fb;
    width: fit-content;
    margin-bottom: 20px;
    /* width: 636px;
height: 47px;
top: 77px;
left: 23px;
padding: 8px ;
gap: 0px;
border-radius: 8px ;
opacity: 0px; */

  }
  .segment-icon path {
    fill: #1a0dab; /* Default SVG fill color */
  }
  
  .segment:hover .segment-icon path {
    fill: #fff; /* Color on hover */
  }
  
  .segment.active .segment-icon path {
    fill: #fff; /* Color when active */
  }
  
  /* Segment button styling */
  .segment {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    background-color: #f1f3fb;
    color: #1a0dab; /* Text color */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .segment.active {
    background-color: #1a0dab;
    color: white;
  }
  
  .segment:hover {
    background-color: #1a0dab;
    color: white;
  }
  
  
  .table-container {
    margin-top: 20px;
  }
  
  .request-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .request-table th,
  .request-table td {
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    border-bottom: 1px solid #F5F5F5;
    padding: 10px;
    text-align: left;
  }
  
  .request-table th {
    /* background-color: #f1f3fb; */
  }
  
  .action-btn {
    background-color: #2f80ed;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right:10px;
  }
  
  .action-btn:hover {
    background-color: #1e5fbf;
  }
  th{
  
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    align-content: center;
    background: #EAEFFF;

  }