.card {
 
   width: 209px;
  height: 160px; 
  padding: 11.17px 14.36px 6px 14.36px;
  border-radius: 7.98px 7.98px 7.98px 7.98px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 9px;
  opacity: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-5px;
}

.company-logo {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.company-name {
  flex-grow: 1;
  margin-left:2px;
  font-size: 14px;
  font-weight: bold;
}

.card-bookmark {

  width: 24px;
  height: 28px;
 
}

.card-content {
  box-sizing: border-box ;
  width: 100%; 
  margin-top: -5px;
  
 
}

.website-link {


  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block; /* Make the link a block-level element */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent the text from breaking to the next line */
}
.request-type1 {
  color:rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight:bold;
  display: block; /* Make the link a block-level element */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent the text from breaking to the next line */
}

.request-type {
  color: rgba(143, 145, 149, 1);
  font-size: 10px;
}

.request-details {
  margin-top: 10px;
}

.request-details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 12px;
}

.request-details .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.request-received, .request-sent {
  font-weight: bold;
}

.request-sent1{
  color:rgba(118, 127, 140, 1);
  font-size:12px;
}