.card11 {
 
  width: 20%;
  height: 145.6px; 
  padding: 10px;
  //margin:auto;
  /* padding: 11.17px 14.36px 6px 14.36px; */
  border-radius: 7.98px 7.98px 7.98px 7.98px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
}
@media screen and (max-width:600px) {
  .card11{
    width:50%;
    overflow: none;
  }
}
.card-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-5px;
  /* width:180px; */
  box-sizing: border-box;
  
}

.company-logo {
  width: 23.81px;
height: 23.81px;
padding: 5.95px 5.95px 5.95px 5.95px;
gap: 4.96px;
border-radius: 1.98px;


  
}

.cardcompany-name  { 
 
 
  flex-grow: 1;
  margin-left:2px;
  color:rgba(0, 0, 0, 1);
font-size: 12.57px;
font-weight: 600;
line-height: 19.15px;
text-align: left;


 
}

.card-bookmark {

  width: 14px;
  height: 18px;
  margin-right:12px;
 
}

.card-content1 {
  box-sizing: border-box ;
  /* width: 180px;  */
  height:82.17px;
  margin-top: -5px;
  margin-left:7px;
  
 
}

.website-link {

 
  font-size: 11.17px;
  font-weight: 500;
  line-height: 15.95px;
 
  
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  
  display: block; /* Make the link a block-level element */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent the text from breaking to the next line */
  //height:16px;
}
.request-type-first {
  color:rgba(0, 0, 0, 1);
  
  font-weight:bold;
  
font-size: 8.77px;

line-height: 9.92px;
text-align: left;

  display: block; /* Make the link a block-level element */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent the text from breaking to the next line */
  //height:11px;
}

.request-type {
  color: rgba(143, 145, 149, 1);
  //font-size: 10px;
}

.request-details {
  margin-top: 10px;

}

.request-details p {
  display: flex;
  align-items: center;
  margin: 5px 0;
  
}

.request-details .icon {

  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.request-received, .request-sent {
  color:rgba(0, 0, 0, 1);
  
  font-weight:bold;
  
font-size: 8.77px;

line-height: 9.92px;
text-align: left;
  
}

.request-sent1{
  color:rgba(118, 127, 140, 1);
  font-size:8.77px;
}