.card-container {
  /* width: 881px;  */
 /*  height: 200px; */
  padding: 2px ;
  border-radius: 8px ;
  border: 1px solid #ddd;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
 
  box-sizing: border-box;
}



.card-logo{
  

  img{
    width: 56px;
  height: 56px;
  gap:10px;
  padding: 16px;
 
    
  }
}

.card2-content{
  width: 100%; 
  box-sizing: content-box;
  display:flex;
  flex-direction: column;
  margin: 10px;
}
.title{
  font-size:14px;
  font-weight:bold;
  color:rgba(20, 20, 20, 1);
}
.verified-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.header-card {
  justify-content: space-between;
}
.header-card , .Location-Card , .body-content  {
  display: flex;
  /* margin: 10px; */

}

.Location-Card {
  gap:10px;
  div {
      font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 10px;


  }
  img {
      width: 10px;
      height: 10px;

  }
}

.body-content,.bio {

  
  color: #141414B2;

font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;

}


.cardin {
  margin: 10px;
}
.cardin-list {
  cursor:pointer;
  display: flex;
  align-items: center; /* Aligns the items vertically in the center */
  /* Adds space between the list and the "more" div (optional) */
}

.cardin-list ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove bullet points */
  display: flex; /* This will display the list items in a row */
  gap: 5px; /* Space between list items */
}

.cardin-list li {
  margin-right: 10px;
  /* background-color: #f0f0f0; */
  padding: 4px 8px;
  border: 1px solid #CEE0F5B2;
  border-radius: 4px;
  font-size: 12px;
}

.more-list {
  margin-left: 20px; /* Space between the list and the "+X more" text */
  font-weight: bold;
}

/* .cardin {
  flex-wrap: wrap;
  flex-direction: row;
  ul {
      display: flex;
     
      gap:20px;
     
      flex-direction: row;
  }
 
li {
  display: flex;
  row-gap: 20px;
  flex-direction: row;
}
}



li {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}


.cardin-list{

  display: flex;
}
.more-list {

 justify-content: center;
} */