/* .container{
  width: 100%;
 
  display: flex;
  flex-direction: row;
 
  margin: 0;
 
 
 
} */
 
.container {
  width:100%;
  top:0;
  height: 116px;
  background-color: rgba(234, 239, 255, 1);
  //padding: 10px;
  margin-top:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
@media (max-width: 480px) {
  .container {
    height: 40px;
    width: 100%;
   
    z-index: 1;
    background-color: white;
  }
}
 
 
@media (min-width: 768px) {
  .container {
    height: 40px;
    width: 100%;
   
  }
}
 
@media (width: 912px) {
  .container {
    height: 40px;
    width: 100%;
 
  }
}
 
@media (width: 540px) {
  .container {
    height: 40px;
    width: 100%;
  
  }
}
 
 
 
 
.headercontainer{
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  box-sizing: border-box;
overflow: hidden;
 
 
}
.frame1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
 
 
}
.frame2{
  width: 90%;
  display: flex;
}
.headermain {
  padding: 10px; /* Add padding for spacing */
  cursor:pointer;
 
}
 
@media (width: 820px) {
  .headermain {
    margin-left: -100px;
  }
}
 
@media (width: 912px) {
  .headermain {
    margin-left: -100px;
  }
}
 
 
 
 
.header-ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
   /* Allows wrapping for smaller screens */
}
 
.header-ul li {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 5px; /* Adds 5px gap between img and span */
  padding: 5px 10px;
}
 
.header-ul li img {
  width: 18px;
  height: 18px;
 
 
}
 
.header-ul li span {
  font-size: 16px;
  color: #333;
}
.nav-svg{
  width: 18px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
}
.Discover-l, .Inbox-l , .Request-l , .Saved-l , .Notifications-l {
 
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
 
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19.36px;
text-align: left;
 
}
 
.frame2{
  margin-right: 40px;
  align-items: center;
  justify-content: flex-end;
  right: 10px;
}
.frame1{
  align-items: center;
  gap:20%
}
 
 
@media screen  and (max-width:480px){
  .headermain,.header-ul{
    display: none;
  }
  /* .container{
    width: 100%;
    background-color: white;
    position:relative;
   
  } */
}
 
 
 
@media (width: 853px) {
  .headermain {
    margin-left:-100px;
  }
}