/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(234
    ,
    239
    ,
    255
    ,
    1);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .logout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
   */

   .container{
    align-content: center;
    box-sizing: border-box;
    align-items: center;
    height: 69px;
    box-sizing: border-box;
   
}
.frame1, .headercomp , .headermain , .frame2 {
    display: flex;
    cursor:pointer;
   
}
.headercomp {justify-content: space-between;
   
}
.headermain  {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 69px;
   
}
.logout{
 
    align-content: center;
}
.logout-btn{
  width: 105px;
height: 39px;
gap: 10px;
border-radius: 6px;
 margin-bottom:10px;
opacity: 0px;
box-shadow: 0px 5px 15px 0px #252C6126;
 
box-shadow: 0px 2px 4px 0px #8890C233;
background-color: transparent;
 
  border: 1px solid #003CFF;
 
  color:  #1A0DAB;
  &:hover{
    background-color: #003CFF;
    color: white;
  }
}
 
.frame1{
 
 
 
 
 
    padding: 10px;
    gap: 111px;
}
 
.frame2{
    padding: 10px;
   
}
 
.Discover-l, .Inbox-l , .Request-l , .Saved-l , .Notifications-l {
  list-style-type: none;
  gap:8px;
  display: flex;
padding: 5px;
width: 133px;
align-items: center;
height: 49px;
 
 
 
 
  img {
    width: 18px;
    height: 18px;
  }
 span{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  }
}
.header-ul{
  display: flex;
  flex-direction: row;
 gap: 20px;
 
}
/*  
li {
    align-items: center;
       
 
 
       } */